@model ProyectoADS.Models.ProfesorViewModel

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Profesor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="hidden" id="operacion" value="@ViewData["Operaciones"]" />
        <input type="hidden" id="_redirectURL" value="@Url.Action("Index","Profesor")" />
        <form asp-action="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="idProfesor" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="nombresProfesor" class="control-label"></label>
                <input asp-for="nombresProfesor" class="form-control" />
                <span asp-validation-for="nombresProfesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidosProfesor" class="control-label"></label>
                <input asp-for="apellidosProfesor" class="form-control" />
                <span asp-validation-for="apellidosProfesor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="correoProfesor" class="control-label"></label>
                <input asp-for="correoProfesor" class="form-control" />
                <span asp-validation-for="correoProfesor" class="text-danger"></span>
            </div>
            <input type="checkbox" asp -for="estado" value="true" type="hidden"/>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>$(document).ready(function () {
            // Cuando la operacion sobre el formulario es de lectura.
            if ($("#operacion").val() == "leer") {

                $("form").find("input,select").attr("disabled", true);

            }

});


        $("form").addClass("form-ajax");
        initAjaxForm();


    </script>
}
